[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: 
DataFileName: Houses11_partialPCT.isf
Objects: 31
Decision: Comprehensive_preference_grade
Duration: 20 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: PCT_PARETO
ConsistencyLevel: 0.0
Classes: -1.0, 0.0

[ATTRIBUTES]
+ Pair_of_examples: (numbercoded) (pair), none, description
+ Evaluations_difference_on_distance: (integer), cost
+ Evaluations_difference_on_price: (integer), cost
+ Evaluations_on_comfort: [Basic, Medium, Good] (pair), gain
+ Comprehensive_preference_grade: (continuous), gain, decision

decision: Comprehensive_preference_grade

[PREFERENCES]
Pair_of_examples: none
Evaluations_difference_on_distance: cost
Evaluations_difference_on_price: cost
Evaluations_on_comfort: gain
Comprehensive_preference_grade: gain

[RULES]
#Certain at least rules
1: {PAIR(Evaluations_on_comfort) D (Good,Medium)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
2: {PAIR(Evaluations_on_comfort) D (Basic,Basic)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
3: [DIFF(Evaluations_difference_on_distance) <= -32] => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
4: [DIFF(Evaluations_difference_on_distance) <= 0] & {PAIR(Evaluations_on_comfort) D (Good,Good)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
#Certain at most rules
5: {(Medium,Good) D PAIR(Evaluations_on_comfort)} => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|
6: {(Basic,Medium) D PAIR(Evaluations_on_comfort)} => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|
7: [DIFF(Evaluations_difference_on_distance) >= 32] => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|

[RULESINFO]
#Certain at least rules
1: {PAIR(Evaluations_on_comfort) D (Good,Medium)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 25, 26, 28
Support: 7
SupportingExamples: 2, 3, 4, 5, 6, 7, 8
Strength: 0.22580645161290322
Confidence: 1.0
CoverageFactor: 0.3684210526315789
Coverage: 7
CoveredExamples: 2, 3, 4, 5, 6, 7, 8
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.18421052631578946
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.5921052631578947

2: {PAIR(Evaluations_on_comfort) D (Basic,Basic)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 25, 26, 28
Support: 5
SupportingExamples: 3, 7, 9, 10, 28
Strength: 0.16129032258064516
Confidence: 1.0
CoverageFactor: 0.2631578947368421
Coverage: 5
CoveredExamples: 3, 7, 9, 10, 28
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.1214574898785425
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.5607287449392713

3: [DIFF(Evaluations_difference_on_distance) <= -32] => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 25, 26, 28
Support: 3
SupportingExamples: 1, 4, 12
Strength: 0.0967741935483871
Confidence: 1.0
CoverageFactor: 0.15789473684210525
Coverage: 3
CoveredExamples: 1, 4, 12
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.06766917293233082
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.5338345864661654

4: [DIFF(Evaluations_difference_on_distance) <= 0] & {PAIR(Evaluations_on_comfort) D (Good,Good)} => (Comprehensive_preference_grade >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 25, 26, 28
Support: 8
SupportingExamples: 1, 2, 3, 4, 5, 8, 25, 26
Strength: 0.25806451612903225
Confidence: 1.0
CoverageFactor: 0.42105263157894735
Coverage: 8
CoveredExamples: 1, 2, 3, 4, 5, 8, 25, 26
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.21967963386727687
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.6098398169336384

#Certain at most rules
5: {(Medium,Good) D PAIR(Evaluations_on_comfort)} => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24
Support: 7
SupportingExamples: 14, 15, 16, 17, 18, 19, 20
Strength: 0.22580645161290322
Confidence: 1.0
CoverageFactor: 0.5833333333333334
Coverage: 7
CoveredExamples: 14, 15, 16, 17, 18, 19, 20
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.4618055555555556
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.7309027777777778

6: {(Basic,Medium) D PAIR(Evaluations_on_comfort)} => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24
Support: 4
SupportingExamples: 15, 19, 21, 22
Strength: 0.12903225806451613
Confidence: 1.0
CoverageFactor: 0.3333333333333333
Coverage: 4
CoveredExamples: 15, 19, 21, 22
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.2345679012345679
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.6172839506172839

7: [DIFF(Evaluations_difference_on_distance) >= 32] => (Comprehensive_preference_grade <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24
Support: 3
SupportingExamples: 13, 16, 24
Strength: 0.0967741935483871
Confidence: 1.0
CoverageFactor: 0.25
Coverage: 3
CoveredExamples: 13, 16, 24
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.16964285714285715
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.5848214285714286

