[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: 
DataFileName: 
Objects: 49
Decision: Relation
Duration: 33 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: PCT_PARETO
ConsistencyLevel: 1.0
Classes: -1.0, 0.0

[ATTRIBUTES]
+ Pair_of_examples: (numbercoded) (pair), none, description
+ diff_at1: (continuous), gain
+ diff_at2: (continuous), gain
+ diff_at3: (continuous), cost
+ diff_at4: (continuous), cost
+ diff_at5: (continuous), cost
+ diff_at6: (continuous), cost
+ at7: [1, 2, 3, 4, 5] (pair), gain
+ at8: [1, 2, 3, 4, 5] (pair), gain
+ at9: [1, 2, 3, 4, 5] (pair), gain
+ at10: [1, 2, 3, 4, 5] (pair), gain
+ at11: [1, 2, 3, 4] (pair), gain
+ at12: [1, 2, 3, 4, 5] (pair), gain
+ Relation: (continuous), gain, decision

decision: Relation

[PREFERENCES]
Pair_of_examples: none
diff_at1: gain
diff_at2: gain
diff_at3: cost
diff_at4: cost
diff_at5: cost
diff_at6: cost
at7: gain
at8: gain
at9: gain
at10: gain
at11: gain
at12: gain
Relation: gain

[RULES]
#Certain at least rules
1: (diff_at1 >= 5.5) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
2: (diff_at2 >= 36.8) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
3: {PAIR(at7) D (4,4)} => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
4: (diff_at1 >= 0.0) & (diff_at2 >= 0.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
#Certain at most rules
5: (diff_at1 <= -5.5) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
6: (diff_at2 <= -36.8) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
7: {(3,4) D PAIR(at12)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|

[RULESINFO]
#Certain at least rules
1: (diff_at1 >= 5.5) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 25, 26, 27, 28, 33, 34, 35, 41, 42, 49
Support: 19
SupportingExamples: 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 19, 20, 21, 26, 27, 28, 35, 42
Strength: 0.388
Confidence: 1.0
CoverageFactor: 0.679
Coverage: 19
CoveredExamples: 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 19, 20, 21, 26, 27, 28, 35, 42
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.475
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.738

2: (diff_at2 >= 36.8) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 25, 26, 27, 28, 33, 34, 35, 41, 42, 49
Support: 15
SupportingExamples: 3, 4, 5, 6, 7, 12, 13, 14, 19, 20, 21, 26, 27, 28, 34
Strength: 0.306
Confidence: 1.0
CoverageFactor: 0.536
Coverage: 15
CoveredExamples: 3, 4, 5, 6, 7, 12, 13, 14, 19, 20, 21, 26, 27, 28, 34
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.331
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.665

3: {PAIR(at7) D (4,4)} => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 25, 26, 27, 28, 33, 34, 35, 41, 42, 49
Support: 15
SupportingExamples: 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21
Strength: 0.306
Confidence: 1.0
CoverageFactor: 0.536
Coverage: 15
CoveredExamples: 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.331
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.665

4: (diff_at1 >= 0.0) & (diff_at2 >= 0.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 25, 26, 27, 28, 33, 34, 35, 41, 42, 49
Support: 25
SupportingExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 19, 20, 21, 25, 26, 27, 28, 33, 35, 41, 49
Strength: 0.51
Confidence: 1.0
CoverageFactor: 0.893
Coverage: 25
CoveredExamples: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 19, 20, 21, 25, 26, 27, 28, 33, 35, 41, 49
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.781
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.891

#Certain at most rules
5: (diff_at1 <= -5.5) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 8, 15, 16, 22, 23, 24, 29, 30, 31, 32, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48
Support: 19
SupportingExamples: 8, 15, 16, 22, 23, 29, 30, 31, 32, 36, 37, 38, 39, 43, 44, 45, 46, 47, 48
Strength: 0.388
Confidence: 1.0
CoverageFactor: 0.905
Coverage: 19
CoveredExamples: 8, 15, 16, 22, 23, 29, 30, 31, 32, 36, 37, 38, 39, 43, 44, 45, 46, 47, 48
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.844
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.922

6: (diff_at2 <= -36.8) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 8, 15, 16, 22, 23, 24, 29, 30, 31, 32, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48
Support: 15
SupportingExamples: 15, 22, 29, 30, 31, 32, 36, 37, 38, 39, 40, 43, 44, 45, 46
Strength: 0.306
Confidence: 1.0
CoverageFactor: 0.714
Coverage: 15
CoveredExamples: 15, 22, 29, 30, 31, 32, 36, 37, 38, 39, 40, 43, 44, 45, 46
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.588
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.794

7: {(3,4) D PAIR(at12)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 8, 15, 16, 22, 23, 24, 29, 30, 31, 32, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48
Support: 12
SupportingExamples: 22, 23, 24, 29, 30, 31, 36, 37, 38, 43, 44, 45
Strength: 0.245
Confidence: 1.0
CoverageFactor: 0.571
Coverage: 12
CoveredExamples: 22, 23, 24, 29, 30, 31, 36, 37, 38, 43, 44, 45
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.432
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.716

