[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: 
DataFileName: 
Objects: 9
Decision: Relation
Duration: 2 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: PCT_PARETO
ConsistencyLevel: 1.0
Classes: -1.0, 0.0

[ATTRIBUTES]
+ Pair_of_examples: (numbercoded) (pair), none, description
+ diff_price: (integer), cost
+ diff_time: (integer), cost
+ diff_comfort: (integer), gain
+ Relation: (continuous), gain, decision

decision: Relation

[PREFERENCES]
Pair_of_examples: none
diff_price: cost
diff_time: cost
diff_comfort: gain
Relation: gain

[RULES]
#Certain at least rules
1: (diff_time <= 0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
#Certain at most rules
2: (diff_time >= 10) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|

[RULESINFO]
#Certain at least rules
1: (diff_time <= 0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 5, 6, 9
Support: 6
SupportingExamples: 1, 2, 3, 5, 6, 9
Strength: 0.667
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 6
CoveredExamples: 1, 2, 3, 5, 6, 9
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 1.0

#Certain at most rules
2: (diff_time >= 10) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 4, 7, 8
Support: 3
SupportingExamples: 4, 7, 8
Strength: 0.333
Confidence: 1.0
CoverageFactor: 1.0
Coverage: 3
CoveredExamples: 4, 7, 8
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 1.0
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 1.0

