.table-row-cell {
	-fx-cell-size: 32px;
}

.table-column {
	-fx-alignment: CENTER-LEFT;
}

.column-header.not-active {
	-fx-base: pink;
}

.column-header.active {
}

.column-header.decision {
	-fx-base: lightgreen;
}

.column-header.description {
}

.border-yellow {
	-fx-background-color: FFFFE0;
	-fx-border-image-insets: 5;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-border-color: lightgrey;
}

.selectable-label {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0;
}

.error-label {
	-fx-font-size: 15;
	-fx-text-fill: red;
}

.tooltip {
	-fx-font-size: 13;
}
