[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: 
DataFileName: Houses7_partialPCT.isf
Objects: 25
Decision: Relation
Duration: 8 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: PCT_PARETO
ConsistencyLevel: 0.85
Classes: -1.0, 0.0

[ATTRIBUTES]
+ Pair_of_examples: (numbercoded) (pair), none, description
+ diff_distance: (integer), cost
+ diff_price: (integer), cost
+ comfort: [Basic, Medium, Good] (pair), gain
+ Relation: (continuous), gain, decision

decision: Relation

[PREFERENCES]
Pair_of_examples: none
diff_distance: cost
diff_price: cost
comfort: gain
Relation: gain

[RULES]
#Certain at least rules
1: (diff_price <= -30) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
2: (diff_distance <= -32) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
3: (diff_distance <= 0) & {PAIR(comfort) D (Good,Good)} => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
#Certain at most rules
4: {(Medium,Good) D PAIR(comfort)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
5: (diff_distance >= 45) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
6: (diff_distance >= 5) & {(Basic,Medium) D PAIR(comfort)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|

[RULESINFO]
#Certain at least rules
1: (diff_price <= -30) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 19, 20, 24, 25
Support: 5
SupportingExamples: 4, 6, 8, 9, 24
Strength: 0.2
Confidence: 1.0
CoverageFactor: 0.294
Coverage: 5
CoveredExamples: 4, 6, 8, 9, 24
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.118
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.559

2: (diff_distance <= -32) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 19, 20, 24, 25
Support: 4
SupportingExamples: 2, 5, 15, 20
Strength: 0.16
Confidence: 1.0
CoverageFactor: 0.235
Coverage: 4
CoveredExamples: 2, 5, 15, 20
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.09
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.545

3: (diff_distance <= 0) & {PAIR(comfort) D (Good,Good)} => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 19, 20, 24, 25
Support: 12
SupportingExamples: 1, 2, 3, 4, 5, 7, 10, 13, 14, 15, 19, 25
Strength: 0.48
Confidence: 1.0
CoverageFactor: 0.706
Coverage: 12
CoveredExamples: 1, 2, 3, 4, 5, 7, 10, 13, 14, 15, 19, 25
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.434
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.717

#Certain at most rules
4: {(Medium,Good) D PAIR(comfort)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 11, 12, 16, 17, 18, 21, 22, 23
Support: 6
SupportingExamples: 11, 12, 16, 17, 21, 22
Strength: 0.24
Confidence: 1.0
CoverageFactor: 0.75
Coverage: 6
CoveredExamples: 11, 12, 16, 17, 21, 22
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.671
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.836

5: (diff_distance >= 45) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 11, 12, 16, 17, 18, 21, 22, 23
Support: 2
SupportingExamples: 21, 23
Strength: 0.08
Confidence: 1.0
CoverageFactor: 0.25
Coverage: 2
CoveredExamples: 21, 23
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.185
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.592

6: (diff_distance >= 5) & {(Basic,Medium) D PAIR(comfort)} => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 11, 12, 16, 17, 18, 21, 22, 23
Support: 2
SupportingExamples: 16, 18
Strength: 0.08
Confidence: 1.0
CoverageFactor: 0.25
Coverage: 2
CoveredExamples: 16, 18
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.185
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.592

