[FILEINFO]
Program: jrs
Algorithm: VC-DOMLEM
DataFileDirectory: 
DataFileName: ThierrysChoice_partialPCT.isf
Objects: 25
Decision: Relation
Duration: 3 [ms]
Comment: Rules generated with VC-DOMLEM algorithm

[PARAMETERS]
RulesFormat: PCT_PARETO
ConsistencyLevel: 1.0
Classes: -1.0, 0.0

[ATTRIBUTES]
+ Pair_of_examples: (numbercoded) (pair), none, description
+ diff_price: (continuous), cost
+ diff_accel: (continuous), cost
+ diff_pick_up: (continuous), cost
+ diff_brakes: (continuous), gain
+ diff_road_h: (continuous), gain
+ Relation: (continuous), gain, decision

decision: Relation

[PREFERENCES]
Pair_of_examples: none
diff_price: cost
diff_accel: cost
diff_pick_up: cost
diff_brakes: gain
diff_road_h: gain
Relation: gain

[RULES]
#Certain at least rules
1: (diff_price <= -1534.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
2: (diff_price <= 0.0) & (diff_road_h >= 0.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
3: (diff_price <= 564.0) & (diff_road_h >= 0.25) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
#Certain at most rules
4: (diff_price >= 1534.0) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
5: (diff_price >= -564.0) & (diff_road_h <= -0.25) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|

[RULESINFO]
#Certain at least rules
1: (diff_price <= -1534.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 15, 19, 20, 25
Support: 7
SupportingExamples: 4, 5, 9, 10, 14, 15, 20
Strength: 0.28
Confidence: 1.0
CoverageFactor: 0.467
Coverage: 7
CoveredExamples: 4, 5, 9, 10, 14, 15, 20
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.259
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.63

2: (diff_price <= 0.0) & (diff_road_h >= 0.0) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 15, 19, 20, 25
Support: 10
SupportingExamples: 1, 4, 5, 7, 8, 9, 10, 13, 19, 25
Strength: 0.4
Confidence: 1.0
CoverageFactor: 0.667
Coverage: 10
CoveredExamples: 1, 4, 5, 7, 8, 9, 10, 13, 19, 25
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.444
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.722

3: (diff_price <= 564.0) & (diff_road_h >= 0.25) => (Relation >= 0.0) |CERTAIN, AT_LEAST, 0.0|
LearningPositiveExamples: 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 15, 19, 20, 25
Support: 7
SupportingExamples: 2, 3, 4, 5, 8, 9, 10
Strength: 0.28
Confidence: 1.0
CoverageFactor: 0.467
Coverage: 7
CoveredExamples: 2, 3, 4, 5, 8, 9, 10
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.259
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.63

#Certain at most rules
4: (diff_price >= 1534.0) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 6, 11, 12, 16, 17, 18, 21, 22, 23, 24
Support: 7
SupportingExamples: 16, 17, 18, 21, 22, 23, 24
Strength: 0.28
Confidence: 1.0
CoverageFactor: 0.7
Coverage: 7
CoveredExamples: 16, 17, 18, 21, 22, 23, 24
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.583
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.792

5: (diff_price >= -564.0) & (diff_road_h <= -0.25) => (Relation <= -1.0) |CERTAIN, AT_MOST, -1.0|
LearningPositiveExamples: 6, 11, 12, 16, 17, 18, 21, 22, 23, 24
Support: 7
SupportingExamples: 6, 11, 12, 16, 17, 21, 22
Strength: 0.28
Confidence: 1.0
CoverageFactor: 0.7
Coverage: 7
CoveredExamples: 6, 11, 12, 16, 17, 21, 22
NegativeCoverage: 0
NegativeCoveredExamples: 
InconsistencyMeasure: 0.0
EpsilonPrimMeasure: 0.0
f-ConfirmationMeasure: 1.0
A-ConfirmationMeasure: 0.583
Z-ConfirmationMeasure: 1.0
l-ConfirmationMeasure: Infinity
c1-ConfirmationMeasure: 0.792

